*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/app/release
/app/.cxx
/modelobj2cbor/*.o
/modelobj2cbor/model2cbor
/modelobj2cbor/cbor2json
/modelobj2cbor/json2cbor
.externalNativeBuild
